/*==================================
	MOUTH
==================================*/

#fry{
	
	.head{
		
		div{
			//border-color: #f2f !important;
		}


		.mouth1{
			border-bottom: 2px solid #000;
			left: 333px;
			bottom: 117px;
			width: 75px;
			height: 14px;
			-webkit-transform: rotate(-2deg); 
			//border-radius: 164px / 107px;
		}

		.mouth2{
			border-top: 2px solid #000;
			right: 270px;
			bottom: 114px;
			width: 12px;
			height: 14px;
			-webkit-transform: rotate(163deg);
			//border-radius: 164px / 107px;
		}

		.mouth3{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 10px;
			border-right: 2px solid #000;
			border-bottom: 2px solid #000;
			right: 183px;
			bottom: 118px;
			width: 11px;
			height: 14px;
			-webkit-transform: rotate(-2deg);
			//border-radius: 164px / 107px;
		}

		.mouth4{
			border-bottom-left-radius: 30px;
			border-right: 2px solid #000;
			right: 187px;
			bottom: 119px;
			width: 30px;
			height: 23px;
			-webkit-transform: rotate(321deg);
		}
		

		.mouth5{
			border-right: 2px solid #000;
			right: 200.5px;
			bottom: 134px;
			width: 40px;
			height: 26px;
			-webkit-transform: rotate(326deg);
		}
		
	}

}	